// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #F6AF65;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$blue-procrast: #0A1045;
$yellow-procrast: #F9E900;
$orange-procrast: #F6AF65;
$blue-light-procrast: #00C2D1;
$red-procrast: #6A041D;
