// Specific CSS for your home-page
.carrousel-home {
  color: #000000;
}

.info {
  color: #000000;
  font-size: small;
  text-align: center;
  margin-top: 100px;
}

.info h1 {
  color: #000000;
  font-size: 2em;
  text-align: center;
}

.img-responsive-logo {
  display: block;
  max-width: 100%;
  margin-top: 100px;
}
