// Specific CSS for your home-page
.carrousel-home {
  color: #000000;
}

.info{
  color: #000000;
  font-size: small;
  text-align: center;
}

.info h1 {
  color: #000000;
  font-size: 2em;
  text-align: center;
}
