body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

.card {
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: white;
}

.card-title {
  font-size: 1.5em;
  color: #333;
}

// .stat h5 {
//   font-size: 1em;
//   color: #555;
// }

// .stat p {
//   font-size: 1.2em;
//   color: $yellow-procrast;
//   margin: 0;
// }

.stat-tiles {
  display: flex;
  color: $blue-procrast;
  justify-content: space-between;
  border-radius: 100px;
  background-color: $yellow-procrast;
  padding: 2em;
}
