.container-trophy {
  width: 90%;
  margin: 0 auto;
  display: flex;
  padding: 10px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.container-trophy h2 {
  font-size: 2em;
  color: $blue-procrast;
  margin: 10px;
  text-align: center;
  font-family: "Poppins", "Helvetica", "Sans-serif";
}

.container-trophy img {
  height: 160px;
  max-width: 160px;
  object-fit: cover;
  position: relative;
  top: 0;
}

.container-trophy p {
  font-size: 1.5em;
  color: #ffffff;
  margin: 0 auto;
  text-align: center;
  color: $blue-procrast;
}

.info-trophy {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin: 20px;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}
