
.container-cards {
  display: flex;
  margin: 0 auto;
}

.container-card{
  display: grid;
  grid-template-columns:  repeat(2, 1fr);
  justify-content: space-evenly;
  align-items: center;
  margin: 0 auto;
  grid-gap: 1rem;

}

.card-trophy {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin: 2px;
  width: 140px;
  height: 140px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: #0A1045 2px solid;
}

.card-trophy:nth-child(10),
.the-ultimate-background {
  background-color: #ffffff;
}
.card-trophy:nth-child(8),
.first-project-background {
  background-color: #84179a;
}

.card-trophy:nth-child(7),
.just-getting-started-background {
  background-color: #f97800;
}

.card-trophy:nth-child(6),
.getting-the-hang-of-it-background {
  background-color: #F6AF65;
}

.card-trophy:nth-child(5),
.reaching-the-stars-background {
  background-color: #00C2D1;
}

.card-trophy:nth-child(4),
.rolling-on-tasks-background {
  background-color: #6A041D;
}

.card-trophy:nth-child(3),
.completionist-background {
  background-color: #f9e900;
}

.card-trophy:nth-child(2),
.the-weekender-background {
  background-color: #0A1045;
}

.card-trophy:nth-child(1),
.the-king-of-projects-background {
  background-color: #f9007c;
}


.card-trophy:hover {
  transform: scale(1.1);
  transition: transform 0.5s;
}

.card-link{
  position:absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
}

.trophy-description {
  font-size: 1em;
  color: #ffffff;
  text-align: center;
  margin-top: 10px;
}

.trophy-img {
  display: flex;
  width: 80px;
  height: 80px;
  flex-shrink: 0;
  align-items:center ;
  position: relative;
  top: 10px;
  margin-top: 10px;
}

.trophy-name {
color: var(--Color-_Base-_White, #FFF);
font-family: Poppins;
font-size: 12px;
position: relative;
text-align: center;
font-style: normal;
font-weight: 700;
line-height: 100%;
top: 14px;
margin:0 auto;

}
