body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

.card {
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: white;
}

.card-title {
  font-size: 1.5em;
  color: #333;
}

.stat h5 {
  font-size: 1em;
  color: #555;
}

.stat p {
  font-size: 1.2em;
  color: #000;
  margin: 0;
}


.badge-img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  margin-bottom: 5px;
}

.badge-name {
  font-size: 0.8em;
  color: #555;
  margin: 0;
}
