<h1 class="header">Profile</h1>
<div class="container">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-8 sm">
        <div class="card" style="border-radius: 15px;">
          <div class="card-body p-4">
            <div class="d-flex">
              <div class="flex-shrink-0">
               <p>
                  <% if @user.avatar.attached? %>
                    <%= image_tag @user.avatar, size: "200x200", class: "rounded-circle shadow-4" %>
                  <% else %>
                    <p>No avatar uploaded</p>
                  <% end %>
                </p>
              </div>
              <div class="flex-grow-1 ms-3">
                <h5 class="mb-1"> <%= @user.first_name %></h5>
                <p class="mb-2 pb-1">
                 @<%= @user.username %>
                </p>
                <div class="d-flex justify-content-start rounded-3 p-2 mb-2 bg-body-tertiary">
                  <div>
                    <p class="small text-muted mb-1">
                     Xp
                    </p>
                    <p class="mb-0"> <%= @user.total_points %></p>
                  </div>
                  <div class="px-3">
                    <p class="small text-muted mb-1">
                      Followers
                    </p>
                    <p class="mb-0">3</p>
                  </div>
                   <div class="px-3">
                    <p class="small text-muted mb-1">
                      Following
                    </p>
                    <p class="mb-0">3</p>
                  </div>
                   <div class="px-3">
                    <p class="small text-muted mb-1">
                      Projects done
                    </p>
                    <p class="mb-0">67</p>
                  </div>
                  <div>
                    <p class="small text-muted mb-1">
                     Trophies
                    </p>
                    <p class="mb-0">6</p>
                  </div>
                </div>
                <div class="d-flex pt-1">
                  <button  type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-secondary me-1 flex-grow-1">
                    Chat
                  </button>
                  <button  type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary flex-grow-1">
                    Follow
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
