
<h1>Home page</h1>
<nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Pro-crast</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-hello-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">
            <i class="fa-regular fa-calendar" id="calendar-icon"></i>
          </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa-solid fa-list" id="list-icon"></i>
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">All my Projects</a></li>
            <li><a class="dropdown-item" href="#">Achieved Projects</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Profile</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#" >
            <i class="fa-solid fa-plus" id="plus-icon"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#" >
            <i class="fa-regular fa-user" id="user-icon"></i>
          </a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
