<div class="banner">
  <div class="container">
    <%= cl_image_tag("procrast_title_or4wap", alt: "procrast", class: "img-responsive") %>
    <%= cl_image_tag("logo_p_bmgfmy", alt: "logo-procrast", class: "img-responsive") %>
  <div class="info">
    <h1>"Procrastination is the thief of time"</h1>
    <span class="carrousel-home" data-controller="typed" data-typed-sentences-value="[]" ></span>
  </div>
    <a class="btn btn-warning" href="/projects/new">Start Now</a>
  </div>
</div>
<% if user_signed_in?%>
    <span></span>
<% else %>
<div class="container-login">
  <%= link_to 'Login', new_user_session_path, class: "login-button" %>
  <%= link_to 'Sign Up', new_user_registration_path, class: "login-button"%>
</div>
<% end %>
