<%= month_calendar(events: projects) do |date, projects_on_date| %>
  <div class="calendar-day">
    <h4><%= date.day %></h4>
    <% projects_on_date.each do |project| %>
        <div class="calendar-event">
          <%= link_to project.title, project_path(project.id) %>
      </div>
    <% end %>
  </div>
<% end %>
