<h1 class="title-project-h1>Your Project Calendar</h1>

<%= render 'calendar', projects: @projects || [] %>

<div class="d-flex justify-content-center">
  <%= link_to "You have #{@projects.count} project this month !", projects_path, class:"btn btn-primary " %>
</div>
