<h1>All Projects</h1>
<div class="new_container">
  <ul>
    <% if @projects.empty? %>
      <p>No projects found, start a project !</p>
    <% else %>
    <% @projects.each do |project| %>
      <li><%= link_to project.title, project_path(project) %></li>
    <% end %>
    <% end %>
  </ul>

  <% if user_signed_in? %>
      <%= link_to 'New Project', new_project_path %>
  <% end %>
</div>
