<div class="container-title">
  <h1 class="title-project-h1">Start a new Project</h1>
</div>

<%= render 'shared/form', project:@project %>

<%# page de  création de tasks directement après avoir crée un projet %>
