.simple-calendar {
  .calendar-container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
  }
  .day-number {
    text-align: center;
    font-size: 1em;
  }

  .calendar-event {
    width:auto;
    padding: 0;
  }
  .project-link {
    color: rgb(195, 38, 38);
    text-decoration: none;
  }
}
.calendar-container td {
  border: solid 1px #E0E0E0 ;
  background-color: aqua;

}

.calendar-container h4 {
  background-color: bisque;
  margin-bottom: 0;
  padding: 8px;
}
