 .simple-calendar {
  border-radius: 10px;
  overflow: hidden;

  .calendar-container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
  }
  .table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 0;
  }
  thead {
    border-bottom: solid 2px black;;
  }
  .day-number {
    text-align: center;
    font-size: 1em;
  }

  .calendar-event {
    width:auto;
    padding: 0;
  }
  .project-link {
    color: rgb(195, 38, 38);
    text-decoration: none;
  }

  .calendar-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3em;
    background-color: #64FCD9;
    border-bottom: solid 2px black;
  }
  .calendar-heading span {
    font-weight: bold;
    color: #F6AF65;
    padding-left: 1em;
    padding-right: 1em;
  }
  .calendar-heading a {
    text-decoration: none;
    font-weight: bold;
    color: black;
    padding-left: 1em;
    padding-right: 1em;
  }

.calendar-container td {
  border: solid 1px #b9b7b7 ;
  background-color: #F9F9F9;

}

.calendar-container h4 {
  margin-bottom: 0;
  padding: 8px;
}
}
 .simple-calendar {
  .day {
    border: gray solid 1px;
  }

  .wday-0 {}
  .wday-1 {}
  .wday-2 {}
  .wday-3 {}
  .wday-4 {}
  .wday-5 {}
  .wday-6 {}

  .today {
    border-radius: 0;
  }
  .past {
  }
  .future {}

  .start-date {
  }

  .prev-month {
  }
  .next-month { }
  .current-month {}

  .has-events {
    background-color: aqua;
  }
}
