<div class="container-title">
  <h1 class="title-project-h1">Trophies</h1>
</div>

<div class="container-cards">
  <div class="container-card">
    <% @trophiesDSC.each do |trophy| %>
      <% next if trophy.name == "Wagonner" && !@completed %>
      <div class="card-trophy-<%= trophy.name.downcase.gsub(" ", "-") %> ">
        <%=  image_tag(trophy.image, :class =>"trophy-img") %>
        <div class="card-info">
          <h5 class="trophy-name"><%= trophy.name.humanize %></h5>
          <p class="trophy-description">...</p>
        </div>
        <%= link_to '', trophy_path(trophy), class: 'card-link'  %>
      </div>
    <% end %>
  </div>
</div>
