<h1>Trophies</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Category</th>
    </tr>
  </thead>
  <tbody>
    <% @trophies.each do |trophy| %>
      <tr>
        <td><%= trophy.name %></td>
        <td><%= trophy.description %></td>
        <td><%= trophy.category %></td>
      </tr>
    <% end %>
  </tbody>
</table>
