// .btn-warning {
//   margin-top: 8px;
//   color: white;
// }

.btn-procrast {
  background-color: $blue-procrast;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 16px;
  margin-bottom: 16px;
}

.btn-procrast:hover {
  background-color: $blue-light-procrast;
}

.btn-procrast:active {
  transform: scale(0.5);
}

.btn-procrast-home {
  background-color: $orange-procrast;
  text-decoration: none;
  color: $blue-procrast;
  border: none;
  border-radius: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 8px;
  padding-right: 8px;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.button-task {
  text-align: center;
  background-color: #00c2d1;
  border: none;
  color: white;
  font-weight: 800;
  font-family: poppins;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.button-update {
  text-align: center;
  background-color: $blue-procrast;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  text-decoration: none;
  color: white;
  font-weight: 500;
  font-family: poppins;
  margin-right: 7.5em;
}

.button-update:hover {
  background-color: $blue-light-procrast;
}

.button-delete {
  text-align: center;
  background-color: red;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  text-decoration: none;
  color: white;
  font-weight: 500;
  font-family: poppins;
}

.button-delete:hover {
  background-color: #a00037;
}

.button-create {
  text-align: center;
  background-color: $blue-procrast;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  text-decoration: none;
  color: white;
  font-weight: 500;
  font-family: poppins;
}

.button-create:hover {
  background-color: $blue-light-procrast;
}

.button-back {
  text-align: center;
  background-color: #6a041d;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  text-decoration: none;
  color: white;
  font-weight: 500;
  font-family: poppins;
  margin-right: 1em;
}

.button-back:hover {
  background-color: #a00037;
}

.button-submit {
  text-align: center;
  background-color: $blue-procrast;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  text-decoration: none;
  color: white;
  font-weight: 500;
  font-family: poppins;
  margin-right: 4em;
}

.button-submit:hover {
  background-color: $blue-light-procrast;
}

.button-edit {
  text-align: center;
  background-color: $blue-procrast;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  text-decoration: none;
  color: white;
  font-weight: 500;
  font-family: poppins;
}

.button-edit:hover {
  background-color: $blue-light-procrast;
}

#completed-button {
  display: flex;
  justify-content: center;
  width: 90%;
  background-color: #1edd88;
  margin: 1em;
  color: white;
  font-size: large;
  font-weight: bold;
  padding: 1em;
  border-radius: 10px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.completed-button {
  background-color: #1edd88;
  color: white;
  border: none;
  font-weight: bold;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.see-trophies {
  display: flex;
  justify-content: center;
  margin: 2em auto;
  padding: 1em;
  background-color: #6a041d;
  width: 70%;
  border-radius: 10px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.trophy-button {
  color: #f9e900;
  text-decoration: none;
  font-weight: bold;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.calendar-button {
  display: flex;
  justify-content: space-around;
  width: 80%;
  background-color: #f9e900;
  color: black;
  text-decoration: none;
  font-weight: bold;
  border-radius: 10px;
  padding: 1em;
  margin: 1em;
  border: solid black 1px;
}

.btn-back {
  color: white;
  border-radius: 50%;
  font-size: 1em;
  cursor: pointer;
  margin: 1em;
}

.loading-date {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.loading-date i {
  margin: 3px;
}

.progress {
  border: solid 1px black;
}

.actions {
  display: flex;
  justify-content: flex-start;
}
