.btn-procrast{
  background-color: $blue-procrast;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 16px;
  margin-bottom: 16px;
}

.btn-procrast:hover{
  background-color: $blue-light-procrast;
}

.btn-procrast:active{
  transform: scale(0.50);
}

.btn-procrast-home{
  background-color: $orange-procrast;
  text-decoration: none;
  color: $blue-procrast;
  border: none;
  border-radius: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 8px;
  padding-right: 8px;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button-task {
  background-color: #F9E900;
  text-decoration: underline;
  border: none;
  color: #6A041D;
  font-weight: 800;
  font-family: poppins;
}
