.container {
  width: 90%;
  background-color: rgb(255, 255, 255);
  box-shadow: 1px 1px 2px rgba(5, 10, 35, 0.2);
  border-radius: 8px;
  margin-bottom: 1em;
  margin-top: 1em;
}
.container-home {
  width: 100%;
  height: 900px;
}

.container-title {
  width: 90%;
  margin: 0 auto;
}

.edit-project {
  display: flex;
  justify-content: end;
  text-decoration: none;
  color: #6A041D;
}

.container-task{
  width: 90%;
  background-color:#F9E900;
  margin: 1em;
  color: #0A1045;
  font-size: large;
  font-weight: bold;
  padding: 1em;
  border-radius: 10px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.container-task ul li {
  list-style-type: none;
}

.container-date {
  display: flex;
  justify-content: center;
}
.start-date {
  background-color: #00C2D1;
  color: white;
  font-weight: bold;
  margin: 12px;
  padding: 1em;
  border-radius: 10px;
}
.end-date {
  background-color: #6A041D;
  color: white;
  font-weight: bold;
  margin: 12px;
  padding: 1em;
  border-radius: 10px;
}

#container-ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  list-style-type: none;
  padding-left: 0;
  padding-right: 0;
  justify-content: start;
}

#container-ul li {
  box-sizing: border-box; /* Ensure padding and border are included in the width */
  padding: 1em;
  margin: 1em; /* Adjust margin to provide space between items */
  border-radius: 10px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

#container-ul li a {
  display: block;
  height: 100%;
  padding: 4px;
  text-decoration: none;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

#container-ul li:nth-child(1) {
background-color: #0A1045;
}

#container-ul li:nth-child(1) a{
color: white;
font-size: large;
}

#container-ul li:nth-child(2) {
background-color: #F9E900;
}

#container-ul li:nth-child(2) a{
color: #0A1045;
font-size: large;
}

#container-ul li:nth-child(3) {
background-color: #F6AF65;
}

#container-ul li:nth-child(3) a{
color: white;
font-size: large;
}

#container-ul li:nth-child(4) {
background-color: #00C2D1;
}

#container-ul li:nth-child(4) a{
color: white;
font-size: large;
}

#container-ul li:nth-child(5) {
background-color: #6A041D;

}

#container-ul li:nth-child(5) a{
color: #F9E900;
font-size: large;
}

#container-ul li:nth-child(6) {
  background-color: #0A1045;
}

#container-ul li:nth-child(6) a{
  color: white;
  font-size: large;
}

#container-ul li:nth-child(7) {
background-color: #F9E900;
}
