@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap");
body {
  font-family: "Open Sans", sans-serif;
}

#calendar-icon {
  padding: 8px;
}

#list-icon {
  padding: 8px;
}

.dropdown-item {
  padding: 8px;
}

#user-icon {
  padding: 8px;
}

ul {
  list-style-type: none;
}


.navbar {
  position: fixed;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  background: #0a1045;
  border-radius: 10px;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.03);
  height: 84px;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar__link {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3.5rem;
  width: 3.5rem;
  color: #00c2d1;
  transition: 250ms ease all;
  text-decoration: none;
}
.navbar__link span {
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%) translateY(-0.5rem);
  opacity: 0;
  pointer-events: none;
  color: #4D1934;
  background: #f9e900;
  padding: 0.75rem;
  transition: 250ms ease all;
  border-radius: 17.5px;
}
.navbar__link:hover {
  color: #fff;
}
.navbar:not(:hover) .navbar__link:focus span, .navbar__link:hover span {
  opacity: 1;
  transform: translateX(-50%) translateY(-1rem);
}
.navbar__menu {
  display: flex;
}
.navbar__item {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.navbar__item:last-child:before {
  content: "";
  position: absolute;
  opacity: 0;
  z-index: -1;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 3.5rem;
  height: 3.5rem;
  background: #f9e900;
  border-radius: 17.5px;
  transition: 250ms cubic-bezier(1, 0.2, 0.1, 1.2) all;
}
