.title-project-h1 {
  font-size: 1.5em;
  text-align: left;
  text-transform: uppercase;
  color: #6A041D;
  background-color: #F6AF65;
  margin-bottom: 1.5em;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  border-radius: 10px;
  padding: 16px;
}

.title-task-h1 {
  font-size: 1.5em;
  text-transform: uppercase;
  text-align: left;
  color: #ffffff;
  margin-bottom: 0.5em;
  border-radius: 10px;
  background: #00C2D1;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  border-radius: 10px 10px 10px 10px;
  padding: 16px 16px 16px 16px;
}

.profile-name {
  color: $blue-procrast;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
}

.profile-username {
  color: $blue-light-procrast;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}

.profile-stats {
  font-family: Poppins;
  font-size: 14px;
  text-align: center;
}
