.badges {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.badge {
  text-align: center;
  width: 100px;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.badge img {
  width: 60px;
  height: 60px;
}
